@import "tailwindcss";

@theme {
  /* --- Suas Cores Personalizadas --- */
  --color-off-white: #F2F2F2 ;
  --color-areia-suave: #D5D1C8 ;
  --color-terracota: #B08775 ;
  --color-ambar: #C85238 ;
  --color-black-arch: #0C0C0C;
  --color-cinza-escuro: #1a1a1a;
  --color-cinza-medio: #222222;
  --color-cinza-claro: #333333;

  /* --- Configuração da Fonte --- */
  /* Isso conecta com o arquivo layout.tsx que vamos editar depois */
  --font-sans: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;
}

/* --- Estilos Globais --- */
:root {
  --background: #0C0C0C;
  --foreground: #F2F2F2;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  /* Adicione esta linha para deixar a fonte igual ao navegador padrão: */
  -webkit-font-smoothing: subpixel-antialiased; 
}

/* Rolagem Suave */
html {
  scroll-behavior: smooth;
}

/* Barra de rolagem estilizada */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #1a1a1a;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #D5D1C8;
}